doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./vendor/vendor.css")
    link(rel="stylesheet" href="./pages/index.css")
    title Научиться учиться

  body
    .page
      //- header
      header.header
        a.logo(href="/")
          img(src="./blocks/logo/logo-dark.svg" alt="Логотип Яндекс Практикум" width="228" height="32")
        h1.header__title Научиться учиться
        h2.header__subtitle Какие современные и эффективные подходы к обучению вы можете использовать в своей жизни? <a href="#" class="header__link">Узнать →</a>
        .header__square-pic
        img.header__main-illustration(src="./blocks/header/__main-illustration/header__main-illustration.png" alt="Иллюстрация" width="765" height="608")

      main.content
        //- description
        section.description
          .two-columns
            h2.two-columns__brief Главные проблемы в обучении
            .two-columns__main-text
              p.two-columns__paragraph Ни в школе, ни в институте нас не учат тому, как правильно изучать материал. Мы готовимся к экзаменам и учим билеты. Мы тренируемся решать однообразные задачи, чтобы лучше сдать тест, но часто в итоге это не дает нам реального знания. Зубрежка быстро выветривается и не приносит пользы.
              p.two-columns__paragraph <span class="two-columns__span-accent">Вывод:</span> учиться тоже нужно уметь, но почему-то этому мало где учат. Что с этим делать?
              p.two-columns__paragraph Конкретные техники и упражнения помогают изменить подход к обучению, сделать его эффективным и захватывающим. Эти же техники применяются на примере обучения в Практикуме.

        //- techniques
        section.techniques
          h2.section-title.techniques__title Техники обучения
          h3.section-subtitle Пять практик от Барбары Оакли
          ul.cards
            -
              const techniquesCards = [
                { title: 'Два вида внимания', description: 'Глубокие знания возникают, если чередовать сфокусированное и рассеянное мышление.' },
                { title: 'Recall', description: 'Вспоминайте изученное — это позволит соединить разрозненные порции памяти.' },
                { title: 'Интерливинг', description: 'Изучайте несколько навыков одновременно, они обогащают друг друга.' },
                { title: 'Вопросы ', description: 'Слушая преподавателя, придумывайте хороший вопрос, который вас действительно волнует.' },
                { title: 'Иллюзия компетентности', description: 'Повторите про себя, запишите, расскажите другу: вам только кажется, что вы владеете новой темой.' },
              ]
            each card, index in techniquesCards
              li.cards__item
                img.cards__image(src=`./blocks/cards/__image/cards__image-${index + 1}.jpg` alt=`${card.title}` width="160" height="160")
                h4.cards__title #{card.title}
                p.cards__description #{card.description}

        //- digits
        section.digits
          h2.section-title.digits__title Цифры и факты
          h3.section-subtitle Про учёбу и мозг
          ul.table
            -
              const digitsCells = [
                { heading: '86 миллиардов', text: ['Число нейронов в мозге человека'] },
                { heading: '2,1 миллиарда', text: ['Число нуждающихся в повышении квалификации', 'Всемирный Банк, 2017'] },
                { heading: '1000 терабайт', text: ['Объём памяти человека'] },
                { heading: '500 триллионов', text: ['Число ответственных за обучение нервных синапсов у взрослого человека'] },
                { heading: '420 миллионов', text: ['Число взрослых людей моложе 25 лет, не имеющих образования для трудоустройства', 'Всемирный Банк, 2017'] },
                { heading: '17-20 лет', text: ['Пик обучаемости'] },
                { heading: '1885 год', text: ['Открытие кривой забывания'] },
                { heading: '1889 год', text: ['Открытие условного рефлекса'] },
              ]
            each cell in digitsCells
              li.table__cell
                h4.table__heading #{cell.heading}
                each text in cell.text
                  p.table__text #{text}

        //- kaufman
        section.kaufman
          h2.section-title.kaufman__title Принципы обучения
          h3.section-subtitle От Джоша Кауфмана
          ul.table
            -
              const kaufmanCells = [
                'Выберите привлекательный проект.',
                'Сосредоточьтесь на каком-то одном навыке.',
                'Определите целевой уровень мастерства.',
                'Разбейте навык на элементы.',
                'Приготовьте всё необходимое для занятий.',
                'Устраните препятствия для занятий.',
                'Выделите специальное время для занятий.',
                'Создайте быстрые петли обратной связи.',
                'Занимайтесь по расписанию, короткими интенсивными интервалами.',
                'Уделяйте внимание количеству и скорости.'
              ]
            each text, index in kaufmanCells
              li.table__cell.table__cell_theme_dark
                h4.table__heading #{index + 1}
                p.table__text #{text}

        //- resources
        section.resources

      //- footer
      footer.footer
        a.logo(href="/")
          img(src="./blocks/logo/logo-light.svg" alt="Логотип Яндекс Практикум" width="228" height="32")
